<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="img.png" alt="encabezado de la imagen">
    <h1>Titulo</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ea vitae expedita? Dolorum voluptas reiciendis molestiae, fuga culpa consequatur officia voluptatem magni ducimus cupiditate asperiores nihil animi esse est. Voluptatibus?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fugit nobis veritatis similique reiciendis libero magni porro ad, quibusdam mollitia distinctio ea animi. Placeat minima quia repudiandae quod aliquam beatae?</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, atque laudantium saepe architecto repellat, est error veritatis quos rerum accusantium vel aperiam repellendus eveniet voluptates, eum quas. Velit, deleniti ad.</p>
</body>
</html>